<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ******************** The following are some configurations of the framework program ************************* -->
    <!-- Project name -->
    <add key="ProjectName" value="xyproject" />
    <!-- Current node ID, unique ID for each node, value range [1, 6535], 0 is invalid ID -->
    <add key="ServerID" value="2" />
    <!-- The function name of the current node, if the functions are the same, use the same name. For example, the guild function can be named "ClanServer" -->
    <add key="ServerName" value="LoginServer" />
    <!-- Logical processing area identifier (such as game world), with the same value indicating the same area, value range [1, 6535], value 0 does not enable this function -->
    <add key="ServerRegion" value="0" />
    <!-- The IP address bound to the current node server -->
    <add key="ServerBind" value="tcp://127.0.0.1:5554" />
    <!-- IP address for receiving client connections -->
    <add key="ServerAccept" value="192.168.0.167:5553" />
    <!-- Allow maximum number of client connections, default greater than or equal to 1 -->
    <add key="AcceptMaxLink" value="6000"/>
    <!-- Allow packet size. If it exceeds this set value, the client connection will be automatically disconnected. The unit byte is 4294967292 bytes, and the maximum allowed byte is 4294967292 bytes. The default value is the maximum -->
    <add key="AcceptPacketLimit" value="3145728"/>
    <!-- Control Server IP to be connected -->
    <add key="ServantConnect" value="tcp://127.0.0.1:6002" />
    <!-- The IP address that the current node needs to connect to; multiple connections are allowed. When multiple connections are required, please fill in "ServerConnect0", "ServerConnect1", "ServerConnect2" in order -->
    <!--<add key="ServerConnect0" value="tcp://127.0.0.1:5558" />-->
    <!-- RPCZ thread pool thread count, default greater than or equal to 1 -->
    <add key="RpczThreads" value="3" />
    <!-- The number of threads in the game logic thread pool is greater than or equal to 10 by default -->
    <add key="GameThreads" value="10" />
    <!-- ZeroMQ IO thread count, default greater than or equal to 1 -->
    <add key="ZmqioThreads" value="2" />
    <!-- Login to web verification address -->
    <add key="LoginCheckWeb" value="http://127.0.0.1/xyproject/api/game/serverAuth.php" />
    <!-- Function name of proxy node -->
    <add key="AgentServerName" value="AgentServer" />
    <!-- Game configuration file path -->
    <add key="TemplatePath" value ="./resource/csv/" />

    <!-- ******************** The following are some configurations of the game logic program ************************* -->
  </appSettings>

</configuration>