<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ******************** The following are some configurations of the framework program ************************* -->
    <!-- Project name -->
    <add key="ProjectName" value="xyproject" />
    <!-- Current node ID, unique ID for each node, value range [1, 6535], 0 is invalid ID -->
    <add key="ServerID" value="4" />
    <!-- The function name of the current node, if the functions are the same, use the same name. For example, the guild function can be named "ClanServer" -->
    <add key="ServerName" value="ServantServer" />
    <!-- The IP address bound to the current node server -->
    <add key="ServerBind" value="tcp://127.0.0.1:6002" />
    <!-- The IP address of the main control node (ControlMaster) to be connected -->
    <add key="MasterConnect" value="tcp://127.0.0.1:6001" />
    <!-- RPCZ thread pool thread count, default greater than or equal to 1 -->
    <add key="RpczThreads" value="3" />
    <!-- The number of threads in the game logic thread pool is greater than or equal to 10 by default -->
    <add key="GameThreads" value="10" />
    <!-- ZeroMQ IO thread count, default greater than or equal to 1 -->
    <add key="ZmqioThreads" value="2" />

    <!-- ******************** The following are some configurations of the game logic program ************************* -->
  </appSettings>

</configuration>