<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ********************以下为框架部分程序的一些配制************************* -->
    <!-- 当前项目名称 -->
    <add key="ProjectName" value="xyproject" />
    <!-- 当前节点ID，每个节点唯一的ID, 值范围 [1,65535], 0 为无效ID -->
    <add key="ServerID" value="4" />
    <!-- 当前节点的功能名称，如果功能相同就用相同的名称,比如公会功能就可以命名成“ClanServer” -->
    <add key="ServerName" value="ServantServer" />
    <!-- 当前节点服绑定的IP -->
    <add key="ServerBind" value="tcp://127.0.0.1:6002" />
    <!-- 要连接的控制节点(例如：ControlServant)IP -->
    <add key="MasterConnect" value="tcp://127.0.0.1:6001" />
    <!-- RPCZ 线程池线程数，默认大于等于1 -->
    <add key="RpczThreads" value="3" />
    <!-- 游戏逻辑 线程池线程数，默认大于等于10 -->
    <add key="GameThreads" value="10" />
    <!-- ZeroMQ IO 线程数，默认大于等于1 -->
    <add key="ZmqioThreads" value="2" />

    <!-- ********************以下为游戏逻辑部分程序的一些配制************************* -->
  </appSettings>

</configuration>