<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ********************以下为框架部分程序的一些配制************************* -->
    <!-- 当前项目名称 -->
    <add key="ProjectName" value="xyproject" />
    <!-- 当前节点ID，每个节点唯一的ID, 值范围 [1,65535], 0 为无效ID -->
    <add key="ServerID" value="1" />
    <!-- 当前节点的功能名称，如果功能相同就用相同的名称,比如公会功能就可以命名成“ClanServer” -->
    <add key="ServerName" value="AgentServer" />
    <!-- 逻辑处理区域标识（比如：游戏世界），值相同为同一区域, 值范围 [1,65535], 值为 0 不开启该功能 -->
    <add key="ServerRegion" value="0" />
    <!-- 当前节点服绑定的IP -->
    <add key="ServerBind" value="tcp://127.0.0.1:5552" />
    <!-- 接收客户端连接 -->
    <add key="ServerAccept" value="192.168.0.167:5551" />
    <!-- 允许客户端最大连接数， 默认大于等于 1 -->
    <add key="AcceptMaxLink" value="6000"/>
    <!-- 允许包的大小，如果超出该设定值，将主动断开客户端连接，单位字节, 最大允许4294967292字节, 缺省按最大值 -->
    <add key="AcceptPacketLimit" value="3145728"/>
    <!-- 要连接的控制节点(例如：ControlServant)IP -->
    <add key="ServantConnect" value="tcp://127.0.0.1:6002"/>
    <!-- 当前节点要连接的IP; 可以多连接,当需要多个连接时,请按顺序填写 "ServerConnect0"、"ServerConnect1"、"ServerConnect2"... -->
    <!--<add key="ServerConnect0" value="tcp://127.0.0.1:5555" />-->
    <!-- RPCZ 线程池线程数，默认大于等于1 -->
    <add key="RpczThreads" value="3" />
    <!-- 游戏逻辑 线程池线程数，默认大于等于10 -->
    <add key="GameThreads" value="10" />
    <!-- ZeroMQ IO 线程数，默认大于等于1 -->
    <add key="ZmqioThreads" value="2" />

    <!-- ********************以下为游戏逻辑部分程序的一些配制************************* -->
  </appSettings>

</configuration>